table {
  border-collapse: collapse;
  margin: auto;
  max-width: 50vw;
}

td {
  border: 1px solid gray;
  padding: 2px 5px;
  text-align: center;
}

th {
  background-color: #66CDAA;
}
#textDiv {
  position:flex;
}
textArea {
  background-color: aquamarine;
}
#buttonContentBox {
  display: flex;
  position: center;
  justify-content: space-between;
  margin: auto;
  width: 660px;
}
#spanInfo{
   margin: auto;
   width:660px;
}
#moreText {
  display: none;
}
#moreText1 {
  display: none;
}
#moreText2 {
  display: none;
}
#moreText3 {
  display: none;
}
#moreText4 {
  display: none;
}
#moreText5 {
  display: none;
}
#moreText6 {
  display: none;
}
#moreText7 {
  display: none;
}
#moreText8 {
  display: none;
}
#moreText9 {
  display: none;
}
#moreText10 {
  display: none;
}
#moreText11 {
  display: none;
}
#moreText12 {
  display: none;
}
#moreText13 {
  display: none;
}
#moreText14 {
  display: none;
}
#moreText15 {
  display: none;
}
#moreText16 {
  display: none;
}
#moreText17 {
  display: none;
}
#moreText18 {
  display: none;
}
#moreText19 {
  display: none;
}
#moreText20 {
  display: none;
}
#moreText21 {
  display: none;
}
#moreText22 {
  display: none;
}
#moreText23 {
  display: none;
}
#moreText24 {
  display: none;
}
#moreText25 {
  display: none;
}
#moreText26 {
  display: none;
}
#moreText27 {
  display: none;
}
#moreText28 {
  display: none;
}
#moreText29 {
  display: none;
}
#moreText30 {
  display: none;
}
#moreText31 {
  display: none;
}
#moreText32 {
  display: none;
}
#moreText33 {
  display: none;
}
#moreText34 {
  display: none;
}
#moreText35 {
  display: none;
}
#moreText36 {
  display: none;
}
#moreText37 {
  display: none;
}
#moreText38 {
  display: none;
}
#moreText39 {
  display: none;
}
#moreText40 {
  display: none;
}
#moreText41 {
  display: none;
}
#moreText42 {
  display: none;
}
#moreText43 {
  display: none;
}
#moreText44 {
  display: none;
}
#moreText45 {
  display: none;
}
#moreText46 {
  display: none;
}
#moreText47 {
  display: none;
}
#moreText48 {
  display: none;
}
#moreText49 {
  display: none;
}